

/* ----  postItems  -----  */

.allPostItemsDiv {
  margin-left: 10px;
}

.eachPostItemDiv {
  display: grid;
  grid-template-columns: 20px 50px 80px 1fr;
  /* display: flex;
  flex-direction: row; */
  margin: 15px;
}

.postItemCount {
  grid-column: 1;
  padding-right: 10px;
}

.postItemVotes {
  grid-column: 2;

  margin-right: 10px;

}

.singleSubreddit h3 {
  color: green;
}


.postItemImage img {
  grid-column: 3;

  width: 70px;
  height: 70px;
  margin-right: 10px;
  margin-left: 10px;
}

.postItemBody {
  grid-column: 4;

  margin-left: 15px;
}

.postItemBody p {
  margin: 0px;
  margin-bottom: 5px;
  font-family: monospace;
  font-stretch: extra-expanded;
  font-size: 18px;
}

.postItemBody h6 {
  margin: 0px;
  margin-bottom: 5px;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: normal;
}


/*  -----------  */
