/* body .subredditPage {
  background-color: lightyellow;
} */

.allSubredditsHeading {
  margin-left: 20px;
  color: green;
  font-size: 20px;
}

.subscribeInstructions p {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 2px solid green;
  border-radius: 10px;
  /* background-color: yellow; */
  background-image: linear-gradient(to left, rgba(0,255,0,1), rgba(0,255,0,0));

  /* height: 40px; */
  width: 50%;
  padding: 10px;
}

.subscribeInstructions p div {
  margin-right: 5px;
}


.subscribeWord {
  margin-left: 5px;
  margin-right: 5px;
  background-color: white;
  /* padding: 0px; */
  height: 18px;
}

/*  */
.subscribeButtonAndSubredLink {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.titleSummaryMiniInfo {
  display: flex;
  flex-direction: column;
  margin-left: 10px;

}

.subscribeButtonAndSubredLink .subscribeButton {
  display: flex;
  flex-direction: row;
  height: 20px;
  margin: 0px;
}

.subscribeButtonAndSubredLink .subscribeButton button {
  background-color: green;
  color: white;
  border-radius: 5px;
}

.subscribeButtonAndSubredLink .subscribeButton h4 {
  height: 20px;
  margin: 0px;
}

div.subredditLink {
  height: 20;
}

.subredditLink h3 {
  /* margin-left: 10px; */
  margin-top: 0px;
  margin-bottom: 5px;
  height: 20px;
}

.subredditSummary {
  background-image: linear-gradient(to left, rgba(0,100,0,1), rgba(0,255,0,1));

  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  height: 50%;
}

.subredditSummary p {
}

.miniInfoUnderSummary h6 {
  margin-top: 5px;
  margin-bottom: 5px;
}
