.subredditDropDownDiv {
  /* background-color: blue; */
  background-image: linear-gradient(to left, rgba(0,255,0,0.5), rgba(0,255,0,1));
  background-image: linear-gradient(to right, rgba(0,100,0,1), rgba(0,255,0,1));

}
.subredditDropDown {
  height: 25px;
}
